0:
    mouse: '220206_m15'
    days:
        220411:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220412:
            recsBehavior:
                0:
                    trials: 0
        220413:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220414:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220415:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220419:
            recsMLI:
                0:
                    trials: 0
            recsMLI:
                1:
                    trials: 3,4,5,6
        220420:
            recsMLI:
                0:
                    trials: 0
            recsMLI:
                1:
                    trials: 2,3,8,9
            recsMLI:
                2:
                    trials: 10,11,12,13,14,15
        220421:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220422:
            recsMLI:
                0:
                    trials: 2,3,4
            recsMLI:
                1:
                    trials: 8,9
1:
    mouse: '220206_m16'
    days:
        220412:
            recsMLI:
                1:
                    trials: 5,6,7,8,9
        220413:
            recsMLI:
                0:
                    trials: 0,2#,3
        220414:
            recsMLI:
                0:
                    trials: 0
            recsMLI:
                1:
                    trials: 2,3,4,5,6
2:
    mouse: '220219_m31'
    days:
        220412:
            recsPC:
                0:
                    trials: 1,2,3,4,5
        220413:
            recsPC:
                0:
                    trials: 0,1,2,3,4
3:
    mouse: '220211_f38'
    days:
        220426:
            recsPC:
                0:
                    trials: 0,1,3,4 # rec 2 excluded since much higher firing rate
        220427:
            recsMLI:
                0:
                    trials: 0,1,2,3
                    visuallyGuided: True
            recsBehavior:
                1:
                    trials: 4
        220428:
            recsPC:
                0:
                    trials: 1,2,3,4,5
        220429:
            recsPC:
                0:
                    trials:3,4,5,6  # rec 2 excluded since much higher firing rate
        220502:
            recsMLI:
                0:
                    trials: 0,1
                1:
                    trials: 3,4,5,6,7,8
                    visuallyGuided: True
        220503:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220504:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220505:
            recsMLI:
                0:
                    trials: 0,1,2,3,4

4:
    mouse: '220214_f43'
    days:
        220426:
            recsPC:
                0:
                    trials: 1,3
        220427:
            recsPC:
                0:
                    trials: 0,1,2#,3
            recsBehavior:
                1:
                    trials: 3,4
        220428:
            recsPC:
                0:
                    trials: 1,2,3,4,5
        220429:
            recsPC:
                0:
                    trials:0,1,2,3
        220502:
            recsMLI:
                0:
                    trials: 0
            recsPC:
                1:
                    trials: 5,6 #,4
            recsBehavior:
                2:
                    trials: 1,3
        220503:
            recsPC:
                0:
                    trials: 1,2,3
        220504:
            recsBehavior:
                0:
                    trials: 0,1,2,3
        220505:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220506:
            recsMLI:
                0:
                    trials: 4
            recsBehavior:
                1:
                    trials: 0,1,2,3,5
5:
    mouse: '220205_f57'
    days:
        220426:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220428:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220429:
            recsBehavior:
                0:
                    trials: 0,1,2,3
        220502:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220503:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220504:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220505:
            recsMLI:
                0:
                    trials: 1,2,3,4,5
        220506:
            recsPC:
                0:
                    trials: 1,2,3,4,5
                1:
                    trials: 5,6,7,8,9
6:
    mouse: '220205_f61'
    days:
        220426:
            #recsPC:
            #    0:
            #        trials: 0
            #        #visuallyGuided: True
            recsMLI:
                0:
                    trials: 2,3,5,4,6,7,8
                    visuallyGuided: True
        220428:
            recsMLI:
                0:
                    trials: 0
                1:
                    trials: 2,3,4,5,6
        220429:
            recsBehavior:
                0:
                    trials: 0,1,2,3
        220502:
            recsMLI:
                0:
                    trials: 0
                    visuallyGuided: True
                1:
                    trials: 2,3,4,5,6
                    visuallyGuided: True
        220503:
            recsMLI:
                0:
                    trials: 1,2
            recsPC:
                1:
                    trials: 6
            recsBehavior:
                0:
                    trials: 0,3
        220504:
            recsMLI:
                0:
                    trials: 0
                    visuallyGuided: True
                1:
                    trials: 2,3,4,5,6,7,8,9
                    visuallyGuided: True
        220505:
            recsPC:
                0:
                    trials: 0,1,2,3,4,5
                    #visuallyGuided: True
        220506:
            recsMLI:
                0:
                    trials: 0
                1:
                    trials: 2,3,4,5,6

7:
    mouse: '220507_m81'
    days:
        220720:
            recsPC:
                0:
                    trials: 0,2,3,4
        220721:
            recsPC:
                0:
                    trials: 0,1,2,3,4
            recsMLI:
                1:
                    trials: 5,6,7,8,9
        220722:
            recsPC:
                0:
                    trials: 1,2,3,4 # 0 deleted
            recsMLI:
                1:
                    trials: 5,6,7
        220725:
            recsMLI:
                0:
                    trials: 0,1
        220726:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220727:
            recsMLI:
                0:
                    trials: 0,1,2,3
        220728:
            recsMLI:
                0:
                    trials: 0
                1:
                    trials: 2,3,4,5,6
        220729:
            recsMLI:
                0:
                    trials: 1,2 #,3
            recsBehavior:
                1:
                    trials: 0,3
8:
    mouse: '220507_m90'
    days:
        220720:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220721:
            recsMLI:
                0:
                    trials: 0,1,2,3
                1:
                    trials: 4,5,6,7,8,9
                    visuallyGuided: True
        220722:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220725:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220726:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220727:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                1:
                    trials: 5,6,7,8,9
        220728:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220729:
            recsPC:
                0:
                    trials: 0
            recsBehavior:
                1:
                    trials: 1
9:
    mouse: '220525_m19'
    days:
        220725:
            recsPC:
                0:
                    trials: 0,1,2,3,4
                    #visuallyGuided: True
        220726:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220727:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220729:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220801:
            recsMLI:
                0:
                    trials: 0
            recsPC:
                1:
                    trials: 2,3,4,5,6
        220802:
            recsMLI:
                0:
                    trials: 0,1
        220803:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220804:
            recsPC:
                0:
                    trials: 0,1,2,3,4

10:
    mouse: '220525_m27'
    days:
        220725:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220726:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220727:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220728:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220729:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220801:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220802:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220803:
            recsPC:
                0:
                    trials: 0,1
                1:
                    trials: 3,4,5,6,7
        220804:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220805:
            recsPC:
                0:
                    trials: 0,1,3,4

11:
    mouse: '220525_m28'
    days:
        220725:
            recsMLI:
                0:
                    trials: 0,1,2,3,4,5,6
                    visuallyGuided: True
        220726:
            recsPC:
                0:
                    trials: 0,1,3,4
        220727:
            recsMLI:
                0:
                    trials: 0,1,2,3,4,5
        220728:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220729:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220801:
            recsMLI:
                0:
                    trials: 0
            recsPC:
                1:
                    trials: 1,2,3,4,5
        220802:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220803:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220804:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
        220805:
            recsPC: # changed from MLI to PC
                0:
                    trials: 0,1,2,3,4
12:
    mouse: '220716_f65'
    days:
        220913:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220915:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220919:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220920:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220921:
            recsMLI:
                0:
                    trials: 0,1,2,3 #,4 rec 4 excluded
                    visuallyGuided: True
        220922:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        220923:
            recsMLI:
                0:
                    trials: 0,1,2
            recsBehavior:
                1:
                    trials: 3
        220926:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220927:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
13:
    mouse: '220716_f67'
    days:
        220913:
            recsMLI:
                0:
                    trials: 0,1
            recsBehavior:
                1:
                    trials: 2
                    # visuallyGuided: True
        220915:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220919:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    visuallyGuided: True
        220920:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220921:
            recsBehavior:
                0:
                    trials: 0,1,2,3 #,4
        220922:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220923:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220926:
            recsBehavior:
                0:
                    trials: 0,1,2,3,4
        220927:
            recsPC:
                0:
                    trials: 0,1,2,3,4
14:
    mouse: '221213_f4'
    days:
        230302:
            recsPC:
                0:
                    trials: 0,1,2,4,5
            recsBehavior:
                1:
                    trials: 3
                    # visuallyGuided: True
        230303:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    #visuallyGuided: True
        230306:
            recsMLI:
                0:
                    trials: 0,1,2,3,4
                    #visuallyGuided: True
        230308:
            recsPC:
                0:
                    trials: 0,1,2,3,4
        230309:
            recsPC:
                0:
                    trials: 0,1,2,3,4,6,7,8,9,10
        230310:
            recsMLI:
                0:
                    trials:  0,1,2,3,4,5,6,7,8,9,10
            recsMLI:
                1:
                    trials:  0,1,2,3,4,5,6,7,8,9,10
        230313:
            recsPC:
                0:
                    trials: 0,1,2,3,4,5,6,7,8,9
            recsPC:
                1:
                    trials: 0,1,2,3,4
        230314:
            recsPC:
                0:
                    trials: 0,1,2,3,4,5,6,7
            recsPC:
                1:
                    trials: 0,1,2,3,4,5,6,7,8,9
        230315:
            recsMLI:
                0:
                    trials:  0,1
            recsPC:
                1:
                    trials: 0,1,2,3,4
        230316:
            recsMLI:
                0:
                    trials:  0,1,2,3,4,5,6